@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Паспортный стол</h1>
    <p>Добро пожаловать на главную страницу регистрационной системы "Паспортный стол"!</p>

    @using (Html.BeginForm("RedirectToApplicationForm", "Home", FormMethod.Post))
    {
        <input type="submit" value="Подать заявление" />
    }
</div>
