@model PassportOffice.Models.Document

@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавление документа";
}

<h1>Добавление документа</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDocument" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Поле выбора типа документа -->
            <div class="form-group">
                <label asp-for="TypeOfDocumentId">Тип документа:</label>
                @Html.DropDownList("TypeOfDocumentId", new SelectList(ViewBag.TypeOfDocuments, "Id", "Name"), "-- Выберите тип --", htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="TypeOfDocumentId" class="text-danger"></span>
            </div>

            <!-- Номер документа -->
            <div class="form-group">
                <label asp-for="Number">Номер документа:</label>
                <input type="number" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>

            <!-- Кем выдан -->
            <div class="form-group">
                <label asp-for="Authority">Орган выдачи:</label>
                <input type="text" asp-for="Authority" class="form-control" />
                <span asp-validation-for="Authority" class="text-danger"></span>
            </div>

            <!-- Дата начала действия -->
            <div class="form-group">
                <label asp-for="StartDate">Начало действия:</label>
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <!-- Дата окончания действия -->
            <div class="form-group">
                <label asp-for="EndDate">Окончание действия:</label>
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
</div>

<!-- Подключаем валидаторы модели -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}