@{
    Layout = "_Layout";
    ViewData["Title"] = "Неавторизованный пользователь";
}

<div class="text-center">

    @using (Html.BeginForm("RedirectToRegistrationForm", "User", FormMethod.Post))
    {
        <input type="submit" value="Зарегистрироваться" />
    }

    <br />

    @using (Html.BeginForm("RedirectToLoginForm", "User", FormMethod.Post))
    {
        <input type="submit" value="Войти в систему" />
    }
</div>