@{
    ViewData["Title"] = "Заявления";
}

<div class="text-center">
    <h1 class="display-4">Заявления</h1> 
    <p>Здесь будет список из всех заявлений с возможностью поиска по типу заявления и его статусу.</p>
</div>
