@{
    Layout = "_Layout";
    ViewData["Title"] = "Заявление";
}

<div class="text-center">
    <h1 class="display-4">Заявление успешно создано!</h1>
    <p>
        Вы можете посмотреть список созданных заявлений здесь:
        <a href="@Url.Action("AllApplications", "Application")">Список заявлений</a>
    </p>
</div>
